@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

section {
    padding: 2rem 5rem 5rem 3rem;
}

section img {
    width: 100%;
}

#header {
    background-color: transparent;
    transition: all 0.5s;
}

.navigation .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


.navigation .nav .nav-item a {
    text-transform: uppercase;
    margin-left: 2rem;
    font-size: 1.13rem;
    font-weight: 600;
    color: white;
}

.navbar .ui-variable-logo .logo-default {
    display: none;
}

.navbar .ui-variable-logo .logo-transparent {
    display: block
}

.navbar.nav-scrolled .ui-variable-logo .logo-default {
    display: block
}

.navbar.nav-scrolled .ui-variable-logo .logo-transparent {
    display: none;
}

.nav-scrolled {
    background-color: #fff !important;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.nav-scrolled .container .navigation .nav-item a {
    color: #1F6FF1;
}

.nav-scrolled .container button {
    background: #3B96FE;
}

.hero {
    /* width: 1222.5px; */
    /* background:
        linear-gradient(113.62deg, #2FA3EB 0.16%, #2D9EEC 7.44%, #2073F1 68.75%, #1B63F3 100.13%);
    height: 828.99px; */
    height: 828.99px;
    background: url(../img/bg-linear/Group\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-text {
    /* font-family: Montserrat; */
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

@media screen and (min-width: 991px) {
    .hero-text h2 {
        padding-bottom: 1rem;
        font-size: 3.13rem;
        line-height: 3.81rem;
    }

    .hero-text p {
        width: 50rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

.bgimage-features img {
    width: 100%;
}

